[submodule "ThirdParty/spdlog"]
	path = ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ThirdParty/yaml-cpp"]
	path = ThirdParty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "ThirdParty/googletest"]
	path = ThirdParty/googletest
	url = https://github.com/google/googletest
[submodule "ThirdParty/GLFW"]
	path = ThirdParty/GLFW
	url = https://github.com/Y0MMY/glfw
[submodule "ThirdParty/ImGui"]
	path = ThirdParty/ImGui
	url = https://github.com/Y0MMY/imgui
[submodule "Editor/ThirdParty/ImGuizmo"]
	path = Editor/ThirdParty/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "ThirdParty/NVRHI"]
	path = ThirdParty/NVRHI
	url = https://github.com/Y0MMY/NVRHI
[submodule "ThirdParty/lightweightvk"]
	path = ThirdParty/lightweightvk
	url = https://github.com/Y0MMY/lightweightvk
