# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app
.vs
*.vcxproj
*.filters
*.user
*.sln
build
.git-gitlab

Radiant/Shaders/SPIRV/Bin/

# ImGui saves the editor layout next to the working dir; it is per-user state
Editor/imgui.ini
imgui.ini

# Fetched by scripts/MacOS/Setup.sh (not submodules)
ThirdParty/optick/
ThirdParty/volk/
